{#{% extends '::base.html.twig' %}#}
{# ... #}
{#
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %} | Mi moto</title>
{% block stylesheets %}#}
{#<link href="{{ asset('bundles/oferta/css/normalizar.css') }}"
rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/oferta/css/comun.css') }}"
rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/oferta/css/frontend.css') }}"
rel="stylesheet" type="text/css" />#}
{#{% endblock %}


{% block javascripts %}{% endblock %}
</head>
<body id="{% block id '' %}">
    <div id="contenedor">

{% block body %}
        
    <header>
  
    </header>

        
    <article>    
        {% block article %}{% endblock %}
    </article>
        
    <aside>
        {% block aside %}
            <section id="login">
                {% render 'LoginBundle:Default:login' %}
            </section>
        {% endblock %}
    </aside>

    <footer>
  
    </footer>            

{% endblock %}

    </div>        
    
</body>
</html>
#}

{% extends '::layout.html.twig' %}

{% block content %}

{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="flash-{{ type }}">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endfor %}

<article>    
        {% block article %}{% endblock %}
    </article>
<aside>
        {% block aside %}
            <section id="login">
                {#% render 'LoginBundle:Default:login' %#}
            </section>
        {% endblock %}
    </aside>
                
{% endblock %}
{% block pie %}
{#    <div class="row">                #}
                                

                    Comunicate con nosotros desde tu celular, al 318 4246820, whatsapp o al correo andres_chabur@hotmail.com
                    <hr/>

{#                        <a href="#">Quiénes somos</a> |#}
                        <a href="{{ path('portada_historia') }}">Quiénes somos</a> |
                        <a href="{{ path('portada_tarifas') }}">Tarifas</a> |
                        <a href="#">Mapa del Sitio</a> 

                        <br/>

                       {# <a href="#">MiCarro</a> |
                        <a href="#">MiMercado</a> |
                        <a href="#">MiInmueble</a> |
                        <a href="#">MiLancha</a> |
                        <a href="#">MiAvion</a> |#}
                    <hr/>
                    <b>MiMascota Colombia SAS</b>. no asume ninguna responsabilidad por la información contenida en los avisos clasificados, ya que ha sido suministrada y corroborada por los clientes. <b>MiMascota Colombia SAS</b>. no participa en ninguna negociación, venta o perfeccionamiento de operación alguna, sino que sólo se limita a la publicaciÓn y/o alojamiento de avisos clasificados en los términos contratados por cada cliente, por ello no será responsable por daños o perjuicios que pudiere sufrir el usuario o visitante por operaciones sobre anuncios publicados en el sitio.
                    <br/><br/>
                    El uso de este sitio implica la aceptación de los <a href="#">Términos y Condiciones</a> y de las <a href="#">Políticas de Privacidad</a> de MiMascota Colombia SAS.
                    Copyright © 2017 <b>MiMascota Colombia SAS</b>. NIT: XXXXXXXX-1

              
{#            </div>#}
{% endblock %}