{% extends "::layoutTop.html.twig" %}

{% block head %}
    {#<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
    <link href="{{ asset('bundles/frontend/bootstrap-3.1.1/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/frontend/bootstrap-3.1.1/css/grid.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/frontend/bootstrap-3.1.1/css/carousel.css') }}" rel="stylesheet" />#}
{% endblock %}

{% block title 'Mi mascota' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                {#<li><a href="{{ path('_demo') }}">Demo Home</a></li>#}
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
        {#<footer>
            <div style="border: 1px solid #d9edf7; padding: 20px; background-color: #d9edf7">
                {% block pie %}{% endblock %}
            </div>
        </footer>#}
    </div>

    <footer>
        <div style="border: 1px solid #d9edf7; padding: 20px; background-color: #d9edf7">
            {% block pie %}{% endblock %}
        </div>
    </footer>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
