<fieldset style="margin: 20px">
<legend><font color="green">Datos de contacto</font></legend>        

<div class="row">    
    <div class="col-md-3">
        <b>Nombres</b>
    </div>
    <div class="col-md-3">
        <span>{{ usuario.nombre }}</span>
    </div>
    <div class="col-md-3">
        <b>Apellidos</b>
    </div>
    <div class="col-md-3">
        {{ usuario.apellido }}
    </div>    
</div>

<div class="row">    
    <div class="col-md-3">
        <b>Tipo identificacion</b>
    </div>
    <div class="col-md-3">
        <span>{{ usuario.tipoIdentificacion }}</span>
    </div>
    <div class="col-md-3">
        <b>Identificacion</b>
    </div>
    <div class="col-md-3">
        <span>{{ usuario.identificacion }}</span>
    </div>    
</div>

<div class="row">    
    <div class="col-md-3">
        <b>Telefono</b>
    </div>
    <div class="col-md-3">
        <span>{{ usuario.telefono }}</span>
    </div>
    <div class="col-md-3">
        <b>Telefono 2</b>
    </div>
    <div class="col-md-3">
        <span>{{ usuario.telefonodos }}</span>
    </div>    
</div>

<div class="row">    
    <div class="col-md-3">
        <b>E-mail</b>
    </div>
    <div class="col-md-3">
        <span> {{ usuario.correo }} </span>
    </div>
    <div class="col-md-3">
        <b>Direccion</b>
    </div>
    <div class="col-md-3">
        <span> {{ usuario.direccion }} </span>
    </div>    
</div>


{#        <table style="margin: 10px">
            <tr>
                <td>
                    Nombres
                </td>
                <td>                    
                    <span>{{ usuario.nombre }}</span>                    
                    
                </td>            
                
                <td>
                    Apellidos
                </td>
                <td>
                    {{ usuario.apellido }}
                </td>
            </tr>
            
            <tr>                                
                <td>
                    Tipo identificacion
                </td>
                <td>                    
                    <span>{{ usuario.tipoIdentificacion }}</span>
                    
                </td>                                                
                
                <td>
                    Identificacion
                </td>
                <td>
                    <span>{{ usuario.identificacion }}</span>                    
                </td>
            </tr>                    
            
            
            <tr>                                
                <td>
                    Telefono
                </td>
                <td>
                    <span>{{ usuario.telefono }}</span>                    
                </td>
                
                <td>
                    Telefono 2
                </td>
                <td>
                    <span>{{ usuario.telefonodos }}</span>                    
                </td>
            </tr>                    
            
            <tr>                     
                <td>
                    E-mail 
                </td>
                <td>
                    <span> {{ usuario.correo }} </span>                    
                </td>
                
                
                <td>
                     Direccion 
                </td>
                <td>
                    <span> {{ usuario.direccion }} </span>                    
                </td>
            </tr>                    
            
           <!-- <tr>                                     
                <td>
                     Departamento 
                </td>
                <td>
                    <span> { { usuario.departamento }} </span>                    
                </td>
                
                <td>
                    Ciudad 
                </td>
                <td>
                    <span> { { usuario.ciudad }} </span>                    
                </td>                                
            </tr>-->
            
        </table>#}

    </fieldset>                