<fieldset style="margin: 20px">
        <legend><font color="green">Datos de la mascota</font></legend>
                   
        <div class="row">
                
            <div class="col-md-3">
                {{ form_label(producto.productsPrice, 'Precio*', {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.productsPrice, {'attr': {'class': 'form-control'}}) }} </span>
                <div class="error">{{ form_errors(producto.productsPrice) }}</div>
            </div>
            <div class="col-md-3">
                {{ form_label(producto.negociable, 'Negociable*', {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.negociable, {'attr': {'class': 'form-control'}}) }} </span>
                <div class="error">{{ form_errors(producto.negociable) }}</div>
            </div>
        
        </div>            
        <div class="row">   
                
            <div class="col-md-3">
                {{ form_label(producto.anio, 'Edad en años', {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.anio, {'attr': {'class': 'form-control'}}) }} </span>
                <div class="error">{{ form_errors(producto.anio) }}</div>
            </div>
          
            <div class="col-md-3">
                {{ form_label(producto.productsFileImage, 'Imagen principal*', {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-3">
                <span>{{ form_widget(producto.productsFileImage, {'attr': {'class': 'form-control'}}) }}</span>
                <div class="error">{{ form_errors(producto.productsFileImage) }}</div>
            </div>
        
        </div>            
        <div class="row">
                
            <div class="col-md-3">
                {{ form_label(producto.manufacturersId, 'Tipo Mascota*', {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.manufacturersId, {'attr': {'class': 'form-control'}}) }} </span>
                <div class="error">{{ form_errors(producto.manufacturersId) }}</div>
            </div>
            <div class="col-md-3">
                {{ form_label(producto.cilindrajeId, 'Raza*', {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.cilindrajeId, {'attr': {'class': 'form-control'}}) }} </span>
                <div class="error">{{ form_errors(producto.cilindrajeId) }}</div>
            </div>
            
        </div>            
        <div class="row">
        
            <div class="col-md-3">
                {{ form_label(producto.colorId, 'Color', {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.colorId, {'attr': {'class': 'form-control'}}) }} </span>
                <div class="error">{{ form_errors(producto.colorId) }}</div>
            </div>
            <div class="col-md-3">
                {{ form_label(producto.observacion, 'Observacion', {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.observacion, {'attr': {'class': 'form-control'}}) }} </span>
                <div class="error">{{ form_errors(producto.observacion) }}</div>
            </div>
            
        </div>            
        <div class="row">
                
           

            
        </div>                                                                                                                                           

    </fieldset>
                
               {% set contadorFilasChkBox = 0 %}     
         {% set viejaCategoria = '' %}
            
            {% for productsAttributes in producto.productsAttributesCollection %}                
            
                <!-- Inicio dibujar encabezado de las opciones -->
                {% set nuevaCategoria = productsAttributes.categoryLabel.vars.value %}
                {% if(nuevaCategoria != viejaCategoria) %}
                    {% if('' != viejaCategoria) %}
                        {% if contadorFilasChkBox == 1 %}
                            </div>
                        {% endif %}                        
                            </fieldset>
                    {% endif%}
                        
                    <fieldset style="margin: 20px">
                        <legend><font color="green">{{  productsAttributes.categoryLabel.vars.value  }}</font></legend>
                        {% set contadorFilasChkBox = 0 %}
{#                        <div class="row">#}
                <!--<tr>
                    <td>{{  productsAttributes.categoryLabel.vars.value  }}</td>
                    <td></td>
                </tr>-->
                {% endif%}
                {% set viejaCategoria = nuevaCategoria %}
                <!-- Fin dibujar encabezado de las opciones -->
                {% if contadorFilasChkBox == 0 %}
                    <div class="row">
                {% endif %}
                
                {% set contadorFilasChkBox = contadorFilasChkBox + 1 %}     
    
                    <div class="col-md-3">                      

                            <!--Recorrer y escribir el seleccionado y esconder el widged del combo de opciones -->
                            <div style="display: none">
                            {{ form_widget(productsAttributes.optionsLabel) }}                                                                       
                            {{ form_widget(productsAttributes.categoryLabel) }}                                                                       
                            </div>
                            <!--{ { form.vars.value.task }}-->
                            <!--{ {  productsAttributes.optionsLabel.vars.id  }}            -->
                            <!--{ {  productsAttributes.optionsLabel.vars.full_name  }}            -->
                            <label class="control-label">{{  productsAttributes.optionsLabel.vars.value  }}</label>
                    </div>
                    <div class="col-md-3">
                            <!--<span> { { form_widget(productsAttributes.optionsValuesId) }} </span>
                            <div class="error">{ { form_errors(productsAttributes.optionsValuesId) }}</div>-->
                            <span> {{ form_widget(productsAttributes.optionStatus, {'attr': {'class': 'form-control'}}) }} </span>
                            <div class="error">{{ form_errors(productsAttributes.optionStatus) }}</div>
                    </div>
                    
                {% if contadorFilasChkBox == 2 %}
                    </div>
                    {% set contadorFilasChkBox = 0 %}  
                {% endif %}
                <!--<tr>
                    <td>
                        { { form_widget(producto.productsAttributesCollection[0].optionsId) }}            
                    </td>
                    <td>
                        <span> { { form_widget(producto.productsAttributesCollection[0].optionsValuesId) }} </span>
                <div class="error">{ { form_errors(producto.productsAttributesCollection[0].optionsValuesId) }}</div>
                    </td>
                </tr>-->
    
    {% endfor %}
                
{#                </div>#}
                            </fieldset>
        
        
        
        
        
        <!--
**********************************************************************************************************
**********************************************************************************************************
******************************* INICIO DATOS DEL TIPO PUBLICACION ***************************************
**********************************************************************************************************
**********************************************************************************************************
-->  
    
             

            
    {% for productsTipoPublicacion in producto.productsTipoPublicacionCollection %}                
                        
        <fieldset style="margin: 20px">
            <legend><font color="green">Cantidad de fotos</font></legend>
            <div class="row">
    
                <div class="col-md-3">                     
                        
                        <!--Recorrer y escribir el seleccionado y esconder el widged del combo de opciones -->
                        <!--{ form_widget(productsAttributes.optionsLabel) }-->                                          
                        <!--{ form_widget(productsAttributes.categoryLabel) }-->                                                                       
                        <!--{ { form.vars.value.task }}-->
                        <!--{ {  productsAttributes.optionsLabel.vars.id  }}            -->
                        <!--{ {  productsAttributes.optionsLabel.vars.full_name  }}            -->
                        <!--{  productsTipoPublicacion.tipoPublicacionId.vars.value  }-->
                </div>
                <div class="col-md-3">
                        <!--<span> { { form_widget(productsAttributes.optionsValuesId) }} </span>
                        <div class="error">{ { form_errors(productsAttributes.optionsValuesId) }}</div>-->
                        <span> {{ form_widget(productsTipoPublicacion.tipoPublicacionId) }} </span>
                        <div class="error">{{ form_errors(productsTipoPublicacion.tipoPublicacionId) }}</div>
                </div>
            </div>            
        </fieldset>
    
    {% endfor %}
                
                              
<!--
**********************************************************************************************************
**********************************************************************************************************
******************************* FIN DATOS DEL TIPO PUBLICACION *******************************************
**********************************************************************************************************
**********************************************************************************************************
-->
                            
                            
<!--
**********************************************************************************************************
**********************************************************************************************************
******************************* INICIO DATOS DEL FOTOS ***************************************
**********************************************************************************************************
**********************************************************************************************************
-->    
    
             

            <fieldset style="margin: 20px">
            <legend><font color="green">Fotos</font></legend>
        <div class="row">    
    {% for productsImages in producto.productsImagesCollection %}                
                        
        
    
                <div class="col-md-3"> 
                         {{ form_label(productsImages.fileImage, 'Imagen*', {'label_attr': {'class': 'control-label'}}) }}
                        <img width="100" height="100"  src="{{app.request.basepath}}/uploads/documents/{{ productsImages.nombreImagen.vars.value }}">
                        
                        <!--Recorrer y escribir el seleccionado y esconder el widged del combo de opciones -->                                                
                        <!--{ form_widget(productsAttributes.optionsLabel) }-->                                                                       
                        <!--{ form_widget(productsAttributes.categoryLabel) }-->                                                                       
                        <!--{ { form.vars.value.task }}-->
                        <!--{ {  productsAttributes.optionsLabel.vars.id  }}            -->
                        <!--{ {  productsAttributes.optionsLabel.vars.full_name  }}            -->
                        <!--{  productsTipoPublicacion.tipoPublicacionId.vars.value  }-->                                    
                    <!--</div>
                    <div class="col-md-3">-->
                        <!--<span> { { form_widget(productsAttributes.optionsValuesId) }} </span>
                        <div class="error">{ { form_errors(productsAttributes.optionsValuesId) }}</div>-->
                        <span> {{ form_widget(productsImages.fileImage, {'attr': {'class': 'form-control'}}) }} </span>
                        <div class="error">{{ form_errors(productsImages.fileImage) }}</div>
                        <span> {{ form_widget(productsImages.nombreImagen, {'attr': {'class': 'form-control'}}) }} </span>
                        <div class="error">{{ form_errors(productsImages.nombreImagen) }}</div>
                </div>            
            
    {% endfor %}
        </div>
                    
</fieldset>         

    {{ form_label(producto.captcha, 'Captcha*') }}
    <span> {{ form_widget(producto.captcha) }} </span>
    <div class="error">{{ form_errors(producto.captcha) }}</div>
    {#<input class="boton" type="submit" value="Registrarme" />#}
    <button class="btn btn-sm btn-primary" type="submit"  >Registrarme</button>