<fieldset style="margin: 20px">
        <legend><font color="green">Datos del producto</font></legend>
        
        <div class="row">
            
            <div class="col-md-3">
                {{ form_label(producto.productsModel, 'Modelo*') }}
            </div>
            <div class="col-md-3">
                <span>{{ form_widget(producto.productsModel) }}</span>
                <div class="error">{{ form_errors(producto.productsModel) }}</div>
            </div>
            <div class="col-md-3">
                {{ form_label(producto.productsQuantity, 'Kilometraje*') }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.productsQuantity) }} </span>
                <div class="error">{{ form_errors(producto.productsQuantity) }}</div>
            </div>
                
            <div class="col-md-3">
                {{ form_label(producto.productsPrice, 'Precio*') }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.productsPrice) }} </span>
                <div class="error">{{ form_errors(producto.productsPrice) }}</div>
            </div>
            <div class="col-md-3">
                {{ form_label(producto.negociable, 'Negociable*') }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.negociable) }} </span>
                <div class="error">{{ form_errors(producto.negociable) }}</div>
            </div>
            
                
            <div class="col-md-3">
                {{ form_label(producto.placa, 'Placa*') }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.placa) }} </span>
                <div class="error">{{ form_errors(producto.placa) }}</div>
            </div>
            <div class="col-md-3">
                {{ form_label(producto.productsFileImage, 'Imagen placa*') }}
            </div>
            <div class="col-md-3">
                <span>{{ form_widget(producto.productsFileImage) }}</span>
                <div class="error">{{ form_errors(producto.productsFileImage) }}</div>
            </div>
            
                
            <div class="col-md-3">
                {{ form_label(producto.manufacturersId, 'Fabricante*') }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.manufacturersId) }} </span>
                <div class="error">{{ form_errors(producto.manufacturersId) }}</div>
            </div>
            <div class="col-md-3">
                {{ form_label(producto.cilindrajeId, 'Cilindraje*') }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.cilindrajeId) }} </span>
                <div class="error">{{ form_errors(producto.cilindrajeId) }}</div>
            </div>
            
                
            <div class="col-md-3">
                {{ form_label(producto.colorId, 'Color') }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.colorId) }} </span>
                <div class="error">{{ form_errors(producto.colorId) }}</div>
            </div>
            <div class="col-md-3">
                {{ form_label(producto.observacion, 'Observacion') }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.observacion) }} </span>
                <div class="error">{{ form_errors(producto.observacion) }}</div>
            </div>
            
                
            <div class="col-md-3">
                {{ form_label(producto.anio, 'A침o') }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.anio) }} </span>
                <div class="error">{{ form_errors(producto.anio) }}</div>
            </div>
            <div class="col-md-3">
                {{ form_label(producto.tipoProductoId, 'Tipo') }}
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(producto.tipoProductoId) }} </span>
                <div class="error">{{ form_errors(producto.tipoProductoId) }}</div>
            </div>
            
        </div>                                                                                                                                           

    </fieldset>
                
                    
         {% set viejaCategoria = '' %}
            
            {% for productsAttributes in producto.productsAttributesCollection %}                
            
                <!-- Inicio dibujar encabezado de las opciones -->
                {% set nuevaCategoria = productsAttributes.categoryLabel.vars.value %}
                {% if(nuevaCategoria != viejaCategoria) %}
                    {% if('' != viejaCategoria) %}
                        </div>
                            </fieldset>
                    {% endif%}
                        
                    <fieldset style="margin: 20px">
                        <legend><font color="green">{{  productsAttributes.categoryLabel.vars.value  }}</font></legend>
                        <div class="row">
                <!--<tr>
                    <td>{{  productsAttributes.categoryLabel.vars.value  }}</td>
                    <td></td>
                </tr>-->
                {% endif%}
                {% set viejaCategoria = nuevaCategoria %}
                <!-- Fin dibujar encabezado de las opciones -->
            
    
                <div class="col-md-3">                      
                        
                        <!--Recorrer y escribir el seleccionado y esconder el widged del combo de opciones -->
                        {{ form_widget(productsAttributes.optionsLabel) }}                                                                       
                        {{ form_widget(productsAttributes.categoryLabel) }}                                                                       
                        <!--{ { form.vars.value.task }}-->
                        <!--{ {  productsAttributes.optionsLabel.vars.id  }}            -->
                        <!--{ {  productsAttributes.optionsLabel.vars.full_name  }}            -->
                        <b>{{  productsAttributes.optionsLabel.vars.value  }}</b>
                </div>
                <div class="col-md-3">
                        <!--<span> { { form_widget(productsAttributes.optionsValuesId) }} </span>
                        <div class="error">{ { form_errors(productsAttributes.optionsValuesId) }}</div>-->
                        <span> {{ form_widget(productsAttributes.optionStatus) }} </span>
                        <div class="error">{{ form_errors(productsAttributes.optionStatus) }}</div>
                </div>
                <!--<tr>
                    <td>
                        { { form_widget(producto.productsAttributesCollection[0].optionsId) }}            
                    </td>
                    <td>
                        <span> { { form_widget(producto.productsAttributesCollection[0].optionsValuesId) }} </span>
                <div class="error">{ { form_errors(producto.productsAttributesCollection[0].optionsValuesId) }}</div>
                    </td>
                </tr>-->
    
    {% endfor %}
                
                </div>
                            </fieldset>
        
        
        
        
        
        <!--
**********************************************************************************************************
**********************************************************************************************************
******************************* INICIO DATOS DEL TIPO PUBLICACION ***************************************
**********************************************************************************************************
**********************************************************************************************************
-->  
    
             

            
    {% for productsTipoPublicacion in producto.productsTipoPublicacionCollection %}                
                        
        <fieldset style="margin: 20px">
            <legend><font color="green">Tipo de publicaci칩n</font></legend>
            <div class="row">
    
                <div class="col-md-3">                     
                        
                        <!--Recorrer y escribir el seleccionado y esconder el widged del combo de opciones -->
                        <!--{ form_widget(productsAttributes.optionsLabel) }-->                                          
                        <!--{ form_widget(productsAttributes.categoryLabel) }-->                                                                       
                        <!--{ { form.vars.value.task }}-->
                        <!--{ {  productsAttributes.optionsLabel.vars.id  }}            -->
                        <!--{ {  productsAttributes.optionsLabel.vars.full_name  }}            -->
                        <!--{  productsTipoPublicacion.tipoPublicacionId.vars.value  }-->
                </div>
                <div class="col-md-3">
                        <!--<span> { { form_widget(productsAttributes.optionsValuesId) }} </span>
                        <div class="error">{ { form_errors(productsAttributes.optionsValuesId) }}</div>-->
                        <span> {{ form_widget(productsTipoPublicacion.tipoPublicacionId) }} </span>
                        <div class="error">{{ form_errors(productsTipoPublicacion.tipoPublicacionId) }}</div>
                </div>
            </div>            
        </fieldset>
    
    {% endfor %}
                
                              
<!--
**********************************************************************************************************
**********************************************************************************************************
******************************* FIN DATOS DEL TIPO PUBLICACION *******************************************
**********************************************************************************************************
**********************************************************************************************************
-->
                            
                            
<!--
**********************************************************************************************************
**********************************************************************************************************
******************************* INICIO DATOS DEL FOTOS ***************************************
**********************************************************************************************************
**********************************************************************************************************
-->    
    
             

            <fieldset style="margin: 20px">
            <legend><font color="green">Fotos</font></legend>
        <div class="row">    
    {% for productsImages in producto.productsImagesCollection %}                
                        
        
    
                <div class="col-md-3"> 
                         {{ form_label(productsImages.fileImage, 'Imagen*') }}
                        <img width="100" height="100"  src="{{app.request.basepath}}/uploads/documents/{{ productsImages.nombreImagen.vars.value }}">
                        
                        <!--Recorrer y escribir el seleccionado y esconder el widged del combo de opciones -->                                                
                        <!--{ form_widget(productsAttributes.optionsLabel) }-->                                                                       
                        <!--{ form_widget(productsAttributes.categoryLabel) }-->                                                                       
                        <!--{ { form.vars.value.task }}-->
                        <!--{ {  productsAttributes.optionsLabel.vars.id  }}            -->
                        <!--{ {  productsAttributes.optionsLabel.vars.full_name  }}            -->
                        <!--{  productsTipoPublicacion.tipoPublicacionId.vars.value  }-->                                    
                    <!--</div>
                    <div class="col-md-3">-->
                        <!--<span> { { form_widget(productsAttributes.optionsValuesId) }} </span>
                        <div class="error">{ { form_errors(productsAttributes.optionsValuesId) }}</div>-->
                        <span> {{ form_widget(productsImages.fileImage) }} </span>
                        <div class="error">{{ form_errors(productsImages.fileImage) }}</div>
                        <span> {{ form_widget(productsImages.nombreImagen) }} </span>
                        <div class="error">{{ form_errors(productsImages.nombreImagen) }}</div>
                </div>            
            
    {% endfor %}
        </div>
                    
</fieldset>

        
                
                              
<!--
**********************************************************************************************************
**********************************************************************************************************
******************************* FIN DATOS DEL FOTOS *******************************************
**********************************************************************************************************
**********************************************************************************************************
-->    
        
        
        
        
        
        
        
        
        {#<table style="margin: 10px">
            <tr>
                <td>
                    {{ form_label(producto.productsModel, 'Modelo*') }}            
                </td>
                <td>
                    <div>                                
                    <span>{{ form_widget(producto.productsModel) }}</span>
            <div class="error">{{ form_errors(producto.productsModel) }}</div>
            </div>
                </td>
            <td>
                    {{ form_label(producto.productsQuantity, 'Kilometraje*') }}            
                </td>
                <td>
                    <span> {{ form_widget(producto.productsQuantity) }} </span>
            <div class="error">{{ form_errors(producto.productsQuantity) }}</div>
                </td>
                
            </tr>
            <tr>
                <td>
                    {{ form_label(producto.productsPrice, 'Precio*') }}            
                </td>
                <td>
                    <span> {{ form_widget(producto.productsPrice) }} </span>
            <div class="error">{{ form_errors(producto.productsPrice) }}</div>
                </td>
                
                <td>
                    {{ form_label(producto.negociable, 'Negociable*') }}            
                </td>
                <td>
                    <span> {{ form_widget(producto.negociable) }} </span>
                    <div class="error">{{ form_errors(producto.negociable) }}</div>
                </td>                            
            </tr>
            <!--<tr>
                <td>
                    { { form_label(producto.productsDateAvailable, 'Publicado hasta') }}            
                </td>
                <td>
                    <span> { { form_widget(producto.productsDateAvailable) }} </span>
            <div class="error">{ { form_errors(producto.productsDateAvailable) }}</div>
                </td>
            </tr>
            <tr>
                <td>
                    { { form_label(producto.productsStatus, 'Status') }}            
                </td>
                <td>
                    <span> { { form_widget(producto.productsStatus) }} </span>
            <div class="error">{ { form_errors(producto.productsStatus) }}</div>
                </td>
            </tr>-->
            <tr>                
            
                <td>
                    {{ form_label(producto.placa, 'Placa*') }}            
                </td>
                <td>
                    <span> {{ form_widget(producto.placa) }} </span>
            <div class="error">{{ form_errors(producto.placa) }}</div>
                </td>
                
                <td>
                {{ form_label(producto.productsFileImage, 'Imagen placa*') }}                
                </td>
                <td>
                    <span>{{ form_widget(producto.productsFileImage) }}</span>
            <div class="error">{{ form_errors(producto.productsFileImage) }}</div>
                </td>                
                
            </tr>    
            <tr>
                <td>
                    {{ form_label(producto.manufacturersId, 'Fabricante*') }}            
                </td>
                <td>
                    <span> {{ form_widget(producto.manufacturersId) }} </span>
            <div class="error">{{ form_errors(producto.manufacturersId) }}</div>
                </td>            
                <td>
                    {{ form_label(producto.cilindrajeId, 'Cilindraje*') }}            
                </td>
                <td>
                    <span> {{ form_widget(producto.cilindrajeId) }} </span>
            <div class="error">{{ form_errors(producto.cilindrajeId) }}</div>
                </td>
            </tr>                                                           
            <tr>                
                <td>
                    {{ form_label(producto.colorId, 'Color') }}            
                </td>
                <td>
                    <span> {{ form_widget(producto.colorId) }} </span>
            <div class="error">{{ form_errors(producto.colorId) }}</div>
                </td>
                
                <td>
                    {{ form_label(producto.observacion, 'Observacion') }}            
                </td>
                <td>
                    <span> {{ form_widget(producto.observacion) }} </span>
                    <div class="error">{{ form_errors(producto.observacion) }}</div>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(producto.anio, 'A침o') }}            
                </td>
                <td>
                    <span> {{ form_widget(producto.anio) }} </span>
                    <div class="error">{{ form_errors(producto.anio) }}</div>
                </td>
                
                <td>
                    {{ form_label(producto.tipoProductoId, 'Tipo') }}            
                </td>
                <td>
                    <span> {{ form_widget(producto.tipoProductoId) }} </span>
                    <div class="error">{{ form_errors(producto.tipoProductoId) }}</div>
                </td>
            </tr>
            
        </table>                                                       

    </fieldset>
    
    {% set viejaCategoria = '' %}
            
            {% for productsAttributes in producto.productsAttributesCollection %}                
    
    <!--<fieldset style="margin: 20px">
        <legend>Datos del producto</legend>
        <table style="margin: 10px">-->
    
    
             
                
            
                <!-- Inicio dibujar encabezado de las opciones -->
                {% set nuevaCategoria = productsAttributes.categoryLabel.vars.value %}
                {% if(nuevaCategoria != viejaCategoria) %}
                    {% if('' != viejaCategoria) %}
                        </table>
                            </fieldset>
                    {% endif%}
                        
                    <fieldset style="margin: 20px">
                        <legend><font color="green">{{  productsAttributes.categoryLabel.vars.value  }}</font></legend>
                        <table style="margin: 10px">
                <!--<tr>
                    <td>{{  productsAttributes.categoryLabel.vars.value  }}</td>
                    <td></td>
                </tr>-->
                {% endif%}
                {% set viejaCategoria = nuevaCategoria %}
                <!-- Fin dibujar encabezado de las opciones -->
            
    
                <tr>
                    <td>                        
                        
                        <!--Recorrer y escribir el seleccionado y esconder el widged del combo de opciones -->
                        {{ form_widget(productsAttributes.optionsLabel) }}                                                                       
                        {{ form_widget(productsAttributes.categoryLabel) }}                                                                       
                        <!--{{ form.vars.value.task }}-->
                        <!--{ {  productsAttributes.optionsLabel.vars.id  }}            -->
                        <!--{{  productsAttributes.optionsLabel.vars.full_name  }}            -->
                        {{  productsAttributes.optionsLabel.vars.value  }}            
                    </td>
                    <td>
                        <!--<span> {{ form_widget(productsAttributes.optionsValuesId) }} </span>
                        <div class="error">{{ form_errors(productsAttributes.optionsValuesId) }}</div>-->
                        <span> {{ form_widget(productsAttributes.optionStatus) }} </span>
                        <div class="error">{{ form_errors(productsAttributes.optionStatus) }}</div>
                    </td>
                </tr>
                <!--<tr>
                    <td>
                        {{ form_widget(producto.productsAttributesCollection[0].optionsId) }}            
                    </td>
                    <td>
                        <span> {{ form_widget(producto.productsAttributesCollection[0].optionsValuesId) }} </span>
                <div class="error">{{ form_errors(producto.productsAttributesCollection[0].optionsValuesId) }}</div>
                    </td>
                </tr>-->
    
    {% endfor %}
                
                </table>
                            </fieldset>
                            
<!--
**********************************************************************************************************
**********************************************************************************************************
******************************* FIN DATOS DEL PRODUCTO ASOCIADO ******************************************
**********************************************************************************************************
**********************************************************************************************************
-->
<!--
**********************************************************************************************************
**********************************************************************************************************
******************************* INICIO DATOS DEL TIPO PUBLICACION ***************************************
**********************************************************************************************************
**********************************************************************************************************
-->  
    
             

            
    {% for productsTipoPublicacion in producto.productsTipoPublicacionCollection %}                
                        
        <fieldset style="margin: 20px">
            <legend><font color="green">Tipo de publicaci칩n</font></legend>
            <table style="margin: 10px">                            
    
                <tr>
                    <td>                        
                        
                        <!--Recorrer y escribir el seleccionado y esconder el widged del combo de opciones -->
                        <!--{ form_widget(productsAttributes.optionsLabel) }-->                                          
                        <!--{ form_widget(productsAttributes.categoryLabel) }-->                                                                       
                        <!--{{ form.vars.value.task }}-->
                        <!--{{  productsAttributes.optionsLabel.vars.id  }}            -->
                        <!--{{  productsAttributes.optionsLabel.vars.full_name  }}            -->
                        <!--{  productsTipoPublicacion.tipoPublicacionId.vars.value  }-->
                    </td>
                    <td>
                        <!--<span> {{ form_widget(productsAttributes.optionsValuesId) }} </span>
                        <div class="error">{{ form_errors(productsAttributes.optionsValuesId) }}</div>-->
                        <span> {{ form_widget(productsTipoPublicacion.tipoPublicacionId) }} </span>
                        <div class="error">{{ form_errors(productsTipoPublicacion.tipoPublicacionId) }}</div>
                    </td>
                </tr>                                   
            </table>
        </fieldset>
    
    {% endfor %}
                
                              
<!--
**********************************************************************************************************
**********************************************************************************************************
******************************* FIN DATOS DEL TIPO PUBLICACION *******************************************
**********************************************************************************************************
**********************************************************************************************************
-->
                            
                            
<!--
**********************************************************************************************************
**********************************************************************************************************
******************************* INICIO DATOS DEL FOTOS ***************************************
**********************************************************************************************************
**********************************************************************************************************
-->    
    
             

            <fieldset style="margin: 20px">
            <legend><font color="green">Fotos</font></legend>
            <table style="margin: 10px">                            
    {% for productsImages in producto.productsImagesCollection %}                
                        
        
    
                <tr>
                    <td>   
                         {{ form_label(productsImages.fileImage, 'Imagen*') }}
                        <img width="100" height="100"  src="{{app.request.basepath}}/uploads/documents/{{ productsImages.nombreImagen.vars.value }}">
                        
                        {#Recorrer y escribir el seleccionado y esconder el widged del combo de opciones -->                                                
                        <!--{ form_widget(productsAttributes.optionsLabel) }-->                                                                       
                        <!--{ form_widget(productsAttributes.categoryLabel) }-->                                                                       
                        <!--{{ form.vars.value.task }}-->
                        <!--{{  productsAttributes.optionsLabel.vars.id  }}            -->
                        <!--{{  productsAttributes.optionsLabel.vars.full_name  }}            -->
                        <!--{  productsTipoPublicacion.tipoPublicacionId.vars.value  }-->                                    
                    </td>
                    <td>
                        <!--<span> {{ form_widget(productsAttributes.optionsValuesId) }} </span>
                        <div class="error">{{ form_errors(productsAttributes.optionsValuesId) }}</div>-->
                        <span> {{ form_widget(productsImages.fileImage) }} </span>
                        <div class="error">{{ form_errors(productsImages.fileImage) }}</div>
                        <span> {{ form_widget(productsImages.nombreImagen) }} </span>
                        <div class="error">{{ form_errors(productsImages.nombreImagen) }}</div>
                    </td>
                </tr>                                   
        
    
    {% endfor %}
                    </table>
</fieldset>
#}
        
                
                              
<!--
**********************************************************************************************************
**********************************************************************************************************
******************************* FIN DATOS DEL FOTOS *******************************************
**********************************************************************************************************
**********************************************************************************************************
-->    

    {{ form_label(producto.captcha, 'Captcha*') }}
    <span> {{ form_widget(producto.captcha) }} </span>
    <div class="error">{{ form_errors(producto.captcha) }}</div>
    {#<input class="boton" type="submit" value="Registrarme" />#}
    <button class="btn btn-sm btn-primary" type="submit"  >Registrarme</button>