{% extends '::frontend.html.twig' %}

{#% block head %} 
    <style> 
        /*td {margin:0;padding:0;} 
        table {border-collapse:collapse;border-spacing:0;} */
    </style> 
{% endblock %#}
{#/*.sf-reset td{margin:0;padding:0;}.*//*sf-reset table{border-collapse:collapse;border-spacing:0;}.*/#}

{% block id 'producto' %}
{% block title %}Regístrar mascota{% endblock %}


{% block article %}
<a href="{{ path('inicio') }}">Volver inicio</a> | 
<a href="{{ path('usuario_producto_ver') }}">Cancelar</a> | 
<h1>{{ block('title') }}</h1>

<form action="{{ path('producto_nuevo') }}" method="post" {{ form_enctype(formulario) }}>

    {{ form_errors(formulario) }}
    
                    
    {% set producto = formulario %}                
    
    {% include 'FrontendBundle:Default:datosRegistroProducto.html.twig' %}
    

    {#{ form_widget(formulario) }#}
    {{ form_rest(formulario) }}
        
    
</form>

{% endblock %}

{% block aside %}{% endblock %}

{% block javascript %}
{#{ parent() }#}
<script type="text/javascript"  src="{{ asset('bundles/frontend/js/combos.js') }}" ></script>
{% endblock %}
