{#Hello {{ name }}!#}
{% extends '::frontend.html.twig' %}

{% block id 'usuario' %}

{% block title %}Modificar mis datos{% endblock %}

{% block article %}
{% set usuario = app.user %}



{% if is_granted('ROLE_USUARIO') %}
<h1>Administración - Configuración</h1>
<p>
<a href="{{ path('inicio') }}">Volver inicio</a> | 
<a href="{{ path('usuario_perfil') }}">Ver mi perfil</a> | 
<a href="{{ path('producto_nuevo') }}">Nueva mascota</a> | 
<a href="{{ path('usuario_producto_ver') }}">Ver mi perfil y mi mascota</a> | 
<a href="{{ path('cerrar_sesion') }}">Cerrar sesión</a> | 
<br/>
<br/>
Bienvenido {{ usuario.nombre ~ ' ' ~ usuario.apellido }} aquí podra configurar y administrar sus mascotas

</p>
{# el usuario todavía no ha hecho login #}
{% else %}
<h2>No tiene role usuario</h2>
{% endif %}

{% endblock %}