{% extends '::frontend.html.twig' %}

{% block id 'usuario' %}

{% block title %}Mi perfil {% endblock %}

{% block article %}

<style>
        td { margin-bottom: 20px; }
</style>
<a href="{{ path('usuario_hello') }}">Administración</a> | 
<a href="{{ path('inicio') }}">Volver inicio</a> | 
<a href="{{ path('usuario_perfilEditar') }}">Editar</a> | 
<a href="{{ path('producto_nuevo') }}">Nueva mascota</a>


<h1>{{ block('title') }}</h1>

<form action="{{ path('usuario_perfil') }}" method="post" >
    
    {#<input class="boton" type="submit" value="Editar" />#}    
    
    
      {% include 'FrontendBundle:Default:datosVerUsuario.html.twig' %}                          
    
</form>
{% endblock %}
