{% extends '::frontend.html.twig' %}

{% block id 'usuario' %}

{% block title %}Modificar mis datos{% endblock %}

{% block article %}

<a href="{{ path('usuario_hello') }}">Administración</a> | 
<a href="{{ path('inicio') }}">Volver inicio</a> | 
<a href="{{ path('usuario_producto_ver') }}">Cancelar</a> | 
<a href="{{ path('usuario_perfil') }}">Volver al perfil</a> | 
<a href="{{ path('producto_nuevo') }}">Nueva mascota</a>

<h1>{{ block('title') }}</h1>

<form action="{{ path('usuario_perfilEditar') }}" method="post" {{ form_enctype(formulario) }}>            
    
      <fieldset style="margin: 20px">
        <legend>Datos personales</legend>
        
        <div class="row">
            
            <div class="col-md-3">
                <strong>{{ form_label(formulario.nombre, 'Nombres') }}</strong>
            </div>
            <div class="col-md-3">
                <span>{{ form_widget(formulario.nombre) }}</span>
                <div class="error">{{ form_errors(formulario.nombre) }}</div>    
            </div>
            <div class="col-md-3">
                <strong>{{ form_label(formulario.apellido, 'Apellidos') }}</strong>                                                    
            </div>
            <div class="col-md-3">
                <span>{{ form_widget(formulario.apellido) }}</span>
                <div class="error">{{ form_errors(formulario.apellido) }}</div>
            </div>
            
            <div class="col-md-3">
                <strong>{{ form_label(formulario.correo, 'E-mail') }}</strong>
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(formulario.correo) }} </span>
                <div class="error">{{ form_errors(formulario.correo) }}</div>
            </div>
            <div class="col-md-3">
                <strong>{{ form_label(formulario.pais, 'Pais') }}</strong>
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(formulario.pais) }} </span>
                <div class="error">{{ form_errors(formulario.pais) }}</div>
            </div>
            
            <div class="col-md-3">
                <strong>{{ form_label(formulario.departamento, 'Departamento') }}</strong>
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(formulario.departamento) }} </span>
                <div class="error">{{ form_errors(formulario.departamento) }}</div>
            </div>
            <div class="col-md-3">
                <strong>{{ form_label(formulario.ciudad, 'Ciudad') }}</strong>
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(formulario.ciudad) }} </span>
                <div class="error">{{ form_errors(formulario.ciudad) }}</div>
            </div>
            
            
            <div class="col-md-3">
                <strong>{{ form_label(formulario.telefono, 'Telefono') }}</strong>                                                
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(formulario.telefono) }} </span>
                <div class="error">{{ form_errors(formulario.telefono) }}</div>
            </div>
            <div class="col-md-3">
                <strong>{{ form_label(formulario.telefonodos, 'Telefono 2') }}</strong>
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(formulario.telefonodos) }} </span>
                <div class="error">{{ form_errors(formulario.telefonodos) }}</div>
            </div>
            
            <div class="col-md-3">
                <strong>{{ form_label(formulario.tipoIdentificacion, 'Tipo identificación') }}</strong>
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(formulario.tipoIdentificacion) }} </span>
                <div class="error">{{ form_errors(formulario.tipoIdentificacion) }}</div>
            </div>
            
            <div class="col-md-3">
                <strong>{{ form_label(formulario.identificacion, 'Identificación') }}</strong>
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(formulario.identificacion) }} </span>
                <div class="error">{{ form_errors(formulario.identificacion) }}</div>
            </div>
            <div class="col-md-3">
                <strong>{{ form_label(formulario.direccion, 'Dirección') }}</strong>
            </div>
            <div class="col-md-3">
                <span> {{ form_widget(formulario.direccion) }} </span>
                <div class="error">{{ form_errors(formulario.direccion) }}</div>
            </div>
            <div class="col-md-3">
                
            </div>
            <div class="col-md-3">                
                
            </div>
            
        </div>
        
        {#<table style="margin: 10px">
            <tr>
                <td>
                    <strong>{{ form_label(formulario.nombre, 'Nombres') }}</strong>            
                </td>
                <td>
                    <div>                                
                    <span>{{ form_widget(formulario.nombre) }}</span>
            <div class="error">{{ form_errors(formulario.nombre) }}</div>
            </div>
                </td>
            </tr>
            <tr>
                <td>
                <strong>{{ form_label(formulario.apellido, 'Apellidos') }}</strong>                
                </td>
                <td>
                    <span>{{ form_widget(formulario.apellido) }}</span>
            <div class="error">{{ form_errors(formulario.apellido) }}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{ form_label(formulario.correo, 'E-mail') }}</strong>            
                </td>
                <td>
                    <span> {{ form_widget(formulario.correo) }} </span>
            <div class="error">{{ form_errors(formulario.correo) }}</div>
                </td>
            </tr>                    
            <tr>
                <td>
                    <strong>{{ form_label(formulario.pais, 'Pais') }}</strong>            
                </td>
                <td>
                    <span> {{ form_widget(formulario.pais) }} </span>
            <div class="error">{{ form_errors(formulario.pais) }}</div>
                </td>
            </tr>                    
            <tr>
                <td>
                    <strong>{{ form_label(formulario.departamento, 'Departamento') }}</strong>            
                </td>
                <td>
                    <span> {{ form_widget(formulario.departamento) }} </span>
            <div class="error">{{ form_errors(formulario.departamento) }}</div>
                </td>
            </tr>                    
            <tr>
                <td>
                    <strong>{{ form_label(formulario.ciudad, 'Ciudad') }}</strong>            
                </td>
                <td>
                    <span> {{ form_widget(formulario.ciudad) }} </span>
                    <div class="error">{{ form_errors(formulario.ciudad) }}</div>
                </td>
            </tr>                    
            <tr>
                <td>
                    <strong>{{ form_label(formulario.telefono, 'Telefono') }}</strong>            
                </td>
                <td>
                    <span> {{ form_widget(formulario.telefono) }} </span>
                    <div class="error">{{ form_errors(formulario.telefono) }}</div>
                </td>
            </tr>                    
            <tr>
                <td>
                    <strong>{{ form_label(formulario.telefonodos, 'Telefono 2') }}</strong>            
                </td>
                <td>
                    <span> {{ form_widget(formulario.telefonodos) }} </span>
                    <div class="error">{{ form_errors(formulario.telefonodos) }}</div>
                </td>
            </tr>                    
            <tr>
                <td>
                    <strong>{{ form_label(formulario.direccion, 'Dirección') }}</strong>            
                </td>
                <td>
                    <span> {{ form_widget(formulario.direccion) }} </span>
                    <div class="error">{{ form_errors(formulario.direccion) }}</div>
                </td>
            </tr>                    
            <tr>
                <td>
                    <strong>{{ form_label(formulario.tipoIdentificacion, 'Tipo identificación') }}</strong>            
                </td>
                <td>
                    <span> {{ form_widget(formulario.tipoIdentificacion) }} </span>
                    <div class="error">{{ form_errors(formulario.tipoIdentificacion) }}</div>
                </td>
            </tr>                    
            <tr>
                <td>
                    <strong>{{ form_label(formulario.identificacion, 'Identificación') }}</strong>            
                </td>
                <td>
                    <span> {{ form_widget(formulario.identificacion) }} </span>
                    <div class="error">{{ form_errors(formulario.identificacion) }}</div>
                </td>
            </tr>                    
        </table>  #}
        
        {{ form_rest(formulario) }}
        <button class="btn btn-lg btn-success" type="submit">Guardar</button>
    <!--<input class="boton" type="submit" value="Guardar cambios" />-->
</form>
{% endblock %}
