{% extends '::frontend.html.twig' %}

{% block id 'usuarioProducto' %}
{% block title %}Regístrate{% endblock %}

{% block article %}
<a href="{{ path('usuario_hello') }}">Cancelar el registro - Volver al inicio</a>
<h1>{{ block('title') }}</h1>

<form action="{{ path('usuario_producto_nuevo') }}" method="post" {{ form_enctype(formulario) }}>
    
    {#<input class="boton" type="submit" value="Registrarme" />#}
    <button class="btn btn-sm btn-primary" type="submit"  >Registrarme</button>

    {{ form_errors(formulario) }}

    
    
    <fieldset style="margin: 20px">
        
{#
**********************************************************************************************************
**********************************************************************************************************
******************************* INICIO DATOS DEL USUARIO  ************************************************
**********************************************************************************************************
**********************************************************************************************************
#}
        <legend><font color="green">Datos personales</font></legend>
        
        
        
        
        <div class="row">
            <div class="col-md-3">
                    {{ form_label(formulario.nombre, 'Nombres *') }}
            </div>
                <div class="col-md-3">
                    <span>{{ form_widget(formulario.nombre) }}</span>
                    <div class="error">{{ form_errors(formulario.nombre) }}</div>
                    
                </div>            
                
                <div class="col-md-3">
                    {{ form_label(formulario.apellido, 'Apellidos *') }}
                </div>
                <div class="col-md-3">
                    <span>{{ form_widget(formulario.apellido) }}</span>
                    <div class="error">{{ form_errors(formulario.apellido) }}</div>
                </div>
            
            
            <div class="col-md-3">
                    {{ form_label(formulario.tipoIdentificacion, 'Tipo identificacion') }}
                </div>
                <div class="col-md-3">      
                    <span>{{ form_widget(formulario.tipoIdentificacion) }}</span>
                    <div class="error">{{ form_errors(formulario.tipoIdentificacion) }}</div>
                </div>                               
                
                <div class="col-md-3">
                    {{ form_label(formulario.identificacion, 'Identificacion *') }}
                </div>
                <div class="col-md-3">
                    <span>{{ form_widget(formulario.identificacion) }}</span>
                    <div class="error">{{ form_errors(formulario.identificacion) }}</div>
                </div>
                           
            
            
            <div class="col-md-3">
                    {{ form_label(formulario.telefono, 'Telefono *') }}
            </div>
                <div class="col-md-3">
                    <span>{{ form_widget(formulario.telefono) }}</span>
                    <div class="error">{{ form_errors(formulario.telefono) }}</div>
            </div>
                
                <div class="col-md-3">
                    {{ form_label(formulario.telefonodos, 'Telefono 2') }}
                </div>
                <div class="col-md-3">
                    <span>{{ form_widget(formulario.telefonodos) }}</span>
                    <div class="error">{{ form_errors(formulario.telefonodos) }}</div>
                </div>
                           
            
            <div class="col-md-3">
                    {{ form_label(formulario.correo, 'E-mail *') }}
                </div>
                <div class="col-md-3">
                    <span> {{ form_widget(formulario.correo) }} </span>
                    <div class="error">{{ form_errors(formulario.correo) }}</div>
                </div>
                
                
                <div class="col-md-3">
                    {{ form_label(formulario.direccion, 'Direccion') }}
                </div>
                <div class="col-md-3">
                    <span> {{ form_widget(formulario.direccion) }} </span>
                    <div class="error">{{ form_errors(formulario.direccion) }}</div>
                </div>
                           
            
            <div class="col-md-3">
                    {{ form_label(formulario.departamento, 'Departamento*') }}
                </div>
                <div class="col-md-3">
                    <span> {{ form_widget(formulario.departamento) }} </span>
                    <div class="error">{{ form_errors(formulario.departamento) }}</div>
                </div>
                
                <div class="col-md-3">
                    {{ form_label(formulario.ciudad, 'Ciudad*') }}
                </div>
                <div class="col-md-3">
                    <span> {{ form_widget(formulario.ciudad) }} </span>
                    <div class="error">{{ form_errors(formulario.ciudad) }}</div>
                </div>                               
                                           
            <div class="col-md-3">
                    {{ form_label(formulario.pais, 'Pais*') }}
                </div>
                <div class="col-md-3">
                    <span> {{ form_widget(formulario.pais) }} </span>
                    <div class="error">{{ form_errors(formulario.pais) }}</div>
                </div>                
                
            
        </div>                                       

    </fieldset>
    
    
    
    
{#
**********************************************************************************************************
**********************************************************************************************************
******************************* INICIO DATOS DEL PRODUCTO ASOCIADO ***************************************
**********************************************************************************************************
**********************************************************************************************************
#}
    
    {% set producto = formulario.productsCollection[0] %}                
    
    
     {% include 'FrontendBundle:Default:datosRegistroProducto.html.twig' %}
        
    {{ form_widget(formulario) }}
    {{ form_rest(formulario) }}    
    
</form>

{% endblock %}

{% block aside %}{% endblock %}

{% block javascript %}
{#{ parent() }#}    
    
    <script>
$(function(){
    
    //***********Pais --llenar departamentos
    /*$("#mimoto_frontendbundle_usuarioproductotype_pais").change(function(){
        var data = {
        pais_id: $(this).val()
        };

        $.ajax({
            type: 'post',
            url: '/app.php/departamentos',
            data: data,
            success: function(data) {
                var $province_selector = $('#mimoto_frontendbundle_usuarioproductotype_departamento');
                $province_selector.html('<option>Departamento</option>');
                for (var i=0, total = data.length; i < total; i++) {
                    $province_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                }
                $('#mimoto_frontendbundle_usuarioproductotype_ciudad').html("<option>Ciudad</option>");
            }
        });
    });*/

    //**************Departamento --llenar ciudades
    $("#mimoto_frontendbundle_usuarioproductotype_departamento").change(function(){
        var data = {
        departamento_id: $(this).val()
        };
        
        //url: 'app_dev.php/producto/ciudades',
          //url: '/app.php/ciudades',
        $.ajax({
            type: 'post',
            url: 'ciudades',
            data: data,
            success: function(data) {
                var $city_selector = $('#mimoto_frontendbundle_usuarioproductotype_ciudad');
                $city_selector.html('<option>Ciudad</option>');
                for (var i=0, total = data.length; i < total; i++) {
                    $city_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + '</option>');
                }
            }
        });
    });
});
</script>

{% endblock %}
